/** {*/
/*  border: 1px solid red;*/
/*}*/

.cities-component-main {
  border: 1px solid black;
}

.cities-component-aside {
  background-color: lightgrey;
  border: black solid 1px;
}

.cities-component-aside h1 {
  margin-left: 65px;
}

.cities-component-card {
  border-radius: 25px;
  border: black solid 1px;
  height: 125px;
  margin: 10px;
  background-color: white
}

.cities-component-card h1 {
  margin: 10% 0;
}

.cities-component-card img {
  display: block;
  width: 150px;
  height: 100px;
  margin: 10px 0 10px 20px;
  border: 1px solid black;
}
